
#site-nav{margin:0;position:absolute;top:5em;right:0;left:0;z-index:10;list-style:none;text-align:left;}
#site-nav a{border-bottom-width:0;background:#444;height:0;line-height:0;display:block;padding:0 0 0 5%;overflow:hidden;color:#fff;text-decoration:none;-webkit-transition:0.5s;-moz-transition:0.5s;-ms-transition:0.5s;-o-transition:0.5s;transition:0.5s;}
ul{margin:0;padding:0;}    